<app-header [titulo]="Card || 'Card'"></app-header>

<ion-content padding>
  <ion-card mode="ios" color="tertiary">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card mode="ios">
    <ion-item color="primary">
      <ion-icon color="light" slot="start" name="cloud-done-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis laborum error facere quaerat, doloribus voluptates maxime perspiciatis soluta fugiat quae reiciendis cupiditate dolor expedita nisi harum neque quod sint esse.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-content>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem sunt rem alias, enim ipsam voluptas voluptates laudantium sequi, itaque quo quisquam voluptatum odit, sapiente doloremque! Animi recusandae velit doloribus veritatis.
    </ion-card-content>
  </ion-card>
</ion-content>
