<app-header titulo="DateTime"></app-header>

<ion-content padding mode="ios">
  <ion-list>
      <ion-list-header>Datos de Nacimiento</ion-list-header>
      <ion-item>
          <ion-label>Fecha de Nacimiento</ion-label>
          <ion-datetime placeholder="Fecha de Nacimiento"
                        display-format="YYYY MMMM DD"
                        cancelText="Cancelar!!"
                        [ngModel]="fechaNaci.toISOString()"
                        (ionChange)="cambioFecha($event)"
          ></ion-datetime>
      </ion-item>
      <ion-list-header>Restricciones</ion-list-header>
      <ion-item>
      <ion-list-header>Min y Max</ion-list-header>
      <ion-datetime placeholder="yyyy-mm-dd"
                    display-format="YYYY MMMM DD"
                    [ngModel]="fechaNaci.toISOString()"
                    min="2019-01-01"
                    max="2019-12-31"
      ></ion-datetime>
      </ion-item>
  </ion-list>
</ion-content>
